// Colors
$primary: #111;
$secondary: #013355;
$accent: #009688;
$accentGradient: linear-gradient(270deg, $secondary 0%, $accent 100%);

// Fonts
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 18px;