.main {
  &-wrapper {
    font-size: 1rem;
    flex-grow: 1;
    padding: 1rem;
    background: transparent;
  }
}

.header {
  &-wrapper {
    display: flex;
    background: #111;
    color: #fff;
    padding: 1rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  &-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
  }
}